body {
    height: 3000px;
    padding:8px;
    margin:0px;
    background-image:url(patern.png);
    background-repeat:repeat;
    background-attachment:fixed;

}

#title{
    margin-top: -28px;
    margin-left: 10px;
    width: 180px;
    position: absolute;
    text-align: center;
    border: 2px dashed red;
    border-radius: 30px;
    background-color: transparent;
}
#n0{
    position: absolute;
    margin-left: 900px;
    margin-top: 80px;
    width: 256px;
    height: 60px;
    border: none;
    background-color: transparent;
}
#n1,#n2,#n3,#n4,#n5,#n6,#n7,#n8,#n9,#n10,#n11,#n12,#n13,#n14,#n15,#n16{
    width: 30px;
    height: 30px;
    border: 1px dashed #000000;
    float: left;
}
#n1:hover,#n2:hover,#n3:hover,#n4:hover,#n5:hover,#n6:hover,#n7:hover,#n8:hover,#n9:hover,#n10:hover,#n11:hover,#n12:hover,#n13:hover,#n14:hover,#n15:hover,#n16:hover{
    width: 24px;
    height: 24px;
    border: 2px solid #000000;
    margin: 2px;
    float: left;
    }

#n1{
    background-color: azure;
}
#n2{
    background-color: moccasin;
    }
#n3{
    background-color: darkorange ;
    }
#n4{
    background-color: coral;
    }
#n5{
    background-color: mediumaquamarine;
    }
#n6{
    background-color: aqua;
}
#n7{
    background-color: lawngreen;
    }
#n8{
    background-color: olivedrab;
}
#n9{
    background-color: yellow;
  }
#n10{
    background-color: pink;
}
#n11{
    background-color: purple ;
}
#n12{
    background-color: deeppink;
 }
#n13{
    background-color: mediumpurple;}
#n14{
    background-color: firebrick;
}
#n15{
    background-color: navy;
}
#n16{
    background-color: dimgray;
}

h1 {
    border: 15px solid green;
    border-radius: 50px/35px;
    margin-bottom: 5px;
    font-style: oblique;
    font-size: 50px;
    padding: 15px;
}

span {
    border: 1px solid black;
    background: coral;
}

div {
    border: 1px solid #000000;
    background: #4ec5ff;
    width: 300px;
}
#hide,#hide1{
    padding-left: 10px;
     display: inline;
    background: red;
}
#show,#show1{
    padding-left: 10px;
    display: inline;
    background: yellow;
}
#hide:hover,#hide1:hover,#show:hover,#show1:hover {
    border: 2px solid darkblue;
    background-color: inherit;
}
p:first-letter {
    font-style: italic;
    color: #1a7b0e;
}

p:first-line {
    font-style: normal;
    color: cadetblue;
}

p {
    font-size: 20px;
    padding: 25px;
    border: 3px solid red;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.red, .green, .blue, .yellow, .maroon, .dark, .white, .darkturquoise, .orange,.pink {
    width: 63px;
    height: 10px;
    border-radius: 6px;
}
.white {
    background: white;
    float: left;
}

.red {
    background: red;
    float: left;
}

.green {
    background: green;
    float: left;
}

.blue {
    background: blue;
    float: left;

}

.yellow {
    background: yellow;
    float: left;
}

.maroon {
    background: maroon;
    float: left;
}

.dark {
     background: dimgray;
     float: left;
 }
.darkturquoise {
    background: darkturquoise;
    float: left;
}
.orange {
    background: orange;
    float: left;
}
.pink {
     background: pink;
     float: left;
 }
section {
    background: gold;
    float: right;
}

#link1, #link11, #link2, #link3, #link4 {
    margin-top: 30px;
    font-size: 35px;
    font-style: oblique;
}

header {
    background: gold;
    float: left
}

#link1:target, #link11:target, #link2:target, #link3:target, #link4:target {
    background: #fffd29;
    color: #24211E;
    width: 480px;
    padding: 3px;
}

ol {
    list-style-type: none;
    font-size: 22px;
}

ul {
    list-style-type: disc;
    font-size: 25px;

}

aside {
    background: #aa4cf0;
    padding: 10px;
    width: 200px;
    float: right;
}

nav {
    clear: left;
    margin-left: 5px;
    width: 300px;
    border-radius: 15px;
    margin-bottom: 20px;

   }
nav div{
    padding: 3px;
    border-radius: 50px;
    text-align: center;
    background:-webkit-linear-gradient(top, #a9b6ff,white);
    background:-moz-linear-gradient(top,cornflowerblue,white);
    background:-o-linear-gradient(top,cornflowerblue,white);

}
footer {
    margin-top: 20px;
}

img {
    float: left;
    margin-right: 25px;
    padding: 20px;
}

a {
    font-style: normal;
    margin: 5px;
    display:inline-block;
    text-decoration: none;
}

a:hover {
    margin-left: 20px;
    }

q {
    font-family: Times, serif;
    font-style: italic;
    color: #198879;
}

p.clear {
    clear: both;
}

article {
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #ff2f25;
}
fieldset{
    width: 210px;
}

article ol {
    height: 150px;
}

p,article:nth-child(5),article:nth-child(6),fieldset legend,h2,table:not(thead),label,h1{
    background: bisque;
}











